body {
    background-color: white;
    background-image: url("C:\Users\Iryna\Documents\GitHub\i_ma\docs\images\webpageback.png")
    color: #FFFFFF   
    font-family: arial, helvetica, sans-serif;
    padding: 15px;
    line-height: 1.4em
}
img {
    width: 55%;
    margin-left: 25%;
}
p {
    color: black;
}
h1 {
   color: #000000;
}

